div {
    text-align: center;
}

div:empty {
    height: 20px;
}

.lyrics-line {
    font-size: medium;
    width: 100%;
    height: 19%;
    font-weight: 600;
    color: black;
}

.current-line {
    font-size: larger;
    font-weight: 900;
    color: #7464b9;
    text-shadow: 0.05em 0.05em #080611
}

.far-line {
    font-size: small;
}

.lyrics-container-wrapper {
    width: 500px;
    height: 124px;
    background-color: rgba(255, 255, 255, 0.52);
    background-size: cover;
    background-blend-mode: overlay;
}

.lyrics-container {
    padding-top: 5px;
}

.kanji-hiragana-wrapper {
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
}

.hiragana-segment {
    font-size: small;
    font-weight: 800;
}

#hiragana-char-wrapper {
    position: absolute;
    top: 30%;
}

#kanji-char-wrapper {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: x-large;
    font-weight: 900;
    color: #7464b9;
    text-shadow: 0.05em 0.05em #080611
}

#translation-wrapper {
    padding-top: 7%;
}