div {
    text-align: center;
    align-items: center;
}

#img-lyrics-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
}

#album-img {
    width: 80px;
    height: auto;
    border-radius: 50%;
    animation: rotation 10s infinite linear;
    background: linear-gradient(45deg, #2102eb, #99bfe7);
    padding: 4px;
}

p:empty {
    height: 16px;
}

.lyrics-line {
    font-size: 85%;
    padding: 4px 0 2px;
    line-height: 15px;
    text-align: center;
    font-weight: 600;
    color: black;
}

.current-line {
    padding: 6px 0 6px;
    font-size: 120%;
    font-weight: 900;
    color: #7464b9;
    text-shadow: 0.05em 0.05em #080611;
}

.far-line {
    font-size: 70%;
}

.lyrics-container-wrapper {
    width: 500px;
    height: 124px;
    background-color: rgba(255, 255, 255, 0.52);
    background-size: cover;
    background-blend-mode: overlay;
}

.lyrics-container {
    width: 70%;
    text-align: center;
}

.kanji-hiragana-wrapper {
    width: 70%;
}

.hiragana-segment {
    font-size: small;
    font-weight: 800;
}

#hiragana-char-wrapper {
    top: 28%;
    position: absolute;
}

#kanji-char-wrapper {
    text-align: center;
    height: fit-content;
    font-size: large;
    font-weight: 900;
    color: #7464b9;
    text-shadow: 0.05em 0.05em #080611
}

#translation-wrapper {
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }