.popup-wrapper {
    padding-bottom: 3px;
    position: fixed;
    z-index: 2;
    width: 40%;
    height: 66px;
    background-color: rgb(246, 246, 246, 0.5);
    border-radius: 10px;
}

.drag-area {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(223, 217, 226, 0.8);
    font-weight: bold;
}

.setting-wrapper {
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2px 0 2px;
}
  
.toggle-switch {
    top: 2px;
    /* display: inline-block; */
    background: #ccc;
    border-radius: 16px;
    width: 40px;
    height: 18px !important;
    position: relative;
    /* vertical-align: middle; */
    transition: background 0.25s;
}

.toggle-switch:before, .toggle-switch:after {
    content: "";
}

.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 2px;
    left: 4px;
    transition: left 0.2s;
}

.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked + .toggle-switch {
    background: #b896e8;
}

.toggle-checkbox:checked + .toggle-switch:before {
    left: 23px;
}
  
.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}
  
.setting-name {
    position: relative;
    font-size: small;
    width: 120px;
}